/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
}
.content {
	max-width: 1024px;
	margin: 10px auto 50px auto;
	padding: 10px 0px;
	box-sizing: border-box;
	flex: 1 0 auto;
}

.content > div > div {
	border-bottom: 3px solid #ccc;
	padding: 0px 40px 20px 40px;
}

.content > section {
	padding: 0px 0px 20px 0px;
}

footer {
	margin: 0px auto 0px auto;
	background: #ccc;
	max-width: 1024px;
	border-top: 3px solid #222;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;
	height: 155px;
}
/*footer:before {
	width: 0;
	height: 0;
	border-bottom: 44px solid #222;
	border-left: 10px solid transparent;
	content: "";
	display: inline-block;
	margin-left: -10px;
	margin-bottom: -1px;
}
footer:after {
	width: 0;
	height: 0;
	border-top: 44px solid #222;
	border-right: 10px solid transparent;
	content: "";
	display: inline-block;
	margin-right: -10px;
}*/


footer i {
	padding: 0px 10px;
}
.fa {
	font-size: 30px !important;
	color: #222;
}
footer a .fa {
	color: #007bff;
}
footer a {
	border-bottom: 0px solid;
}
footer a:hover {
	border-bottom: 0px solid;
}
footer a .fa:hover {
	color: #222;
	transition: all .5s ease;
}
a {
	color: #f0c;
	text-decoration: none;
	border-bottom: 3px solid #f0c;
	line-height: 30px;
}

footer ul.copy {
	padding: 10px 40px 0px 40px;
	width: 300px;
}
footer .copy li {
	display: inline-block;
	float: left;
	margin-right: 20px;
	line-height: 30px;
}

footer ul.likes {
	width: 100px;
	float: right;
	text-align: center;
	margin-top: -31px;
}
footer ul.likes li {
	padding: 0px;
	margin: 0px;
}
footer ul.likes a i.fa {
	font-size: 19px !important;
	line-height: 24px;
}
.links {
	display: inline-block;
}
a:hover {
	color: #222;
	border-bottom: 3px solid #222;
	transition: all .5s ease;
}
nav li {
	display: inline-block;
	margin:0px 10px 20px 10px;
	background: #222;
	box-sizing: border-box;
}
nav li:before {
	width: 0;
	height: 0;
	border-bottom: 44px solid #222;
	border-left: 10px solid transparent;
	content: "";
	display: inline-block;
	margin-left: -10px;
	margin-bottom: -1px;
}
nav li:after {
	width: 0;
	height: 0;
	border-top: 44px solid #222;
	border-right: 10px solid transparent;
	content: "";
	display: inline-block;
	margin-right: -10px;
}

nav li a {
	border-bottom: 0px;
	font-size: 20px;
	color: #fff;
	padding: 0px 10px;
	vertical-align: top;
	line-height: 45px
}
nav li a:hover {
	transition: all .5s ease;
	color: #777;
	border-bottom: none;
	text-decoration: none;
}
